html {
    overflow-y: scroll;
}

body {
    font-family: 'Courier New', monospace;
}

button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 15px 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}
  
  /* Darker background on mouse-over */
button:hover {
    background-color: RoyalBlue;
}

.center {
    margin: auto;
    display: block;
    text-align: center;
}

.score {
    margin: 0px 50px;
}

.win, .lose, .tie {
    margin: 25px auto;
    padding: 10px;
    width: 340px;
    max-width: 100%;
    border-radius: 10px;
}

.win {
    border: 3px solid #03aa6d;
    background-color: #cdeee2;
}

.lose {
    border: 3px solid #ff0000;
    background-color: #ffe6e6;
}

.tie {
    border: 3px solid #FFAA1D;
    background-color: #fff6e8;
}