body {
    font-family: 'Courier New', monospace;
}

button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 15px 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}
  
  /* Darker background on mouse-over */
button:hover {
    background-color: RoyalBlue;
}

.center {
    margin: auto;
    display: block;
    text-align: center;
}

.score {
    margin: 0px 50px;
}

.stat {
    display: inline-block;
    margin: 25px;
    border: 1px solid DodgerBlue;
    color: DodgerBlue;
    padding: 10px;
    width: 340px;
    max-width: 100%;
    height: 25px;
}